@model TechShop.Web.ViewModels.AdminAccountViewModel

@{
    ViewBag.Title = "AdminAccount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Account</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Update", "Update", new { id = Model.ID }) |
    @Html.ActionLink("Return to Dashboard", "Dashboard")
</p>
