@model TechShop.Web.ViewModels.HomeViewModels
@{
    ViewBag.Title = "Home Page";
}

<!-- SLIDER -->
<div class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev-slider1" class="rev_slider fullwidthabanner">
        <ul>
            <!-- Slide 1 -->
            <li data-transition="random">
                <!-- Main Image -->
                @*<img src="~/Content/images/slider/slider-bg-5.jpg" alt="" data-bgposition="center center" data-no-retina>*@
                <img src="~/Content/images/slider/slider-bg-5.jpg" alt="" data-bgposition="center center" data-no-retina/>
                <!-- Layers -->
                <div class="tp-caption tp-resizeme text-white font-weight-300"
                     data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-93','-93','-93','-93']"
                     data-fontsize="['24','24','24','18']"
                     data-lineheight="['72','72','72','36']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                </div>

                <div class="tp-caption tp-resizeme text-white font-weight-500"
                     data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-42','-42','-42','-42']"
                     data-fontsize="['52','52','52','40']"
                     data-lineheight="['60','60','60','40']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                </div>

                <div class="tp-caption tp-resizeme text-white font-weight-400 "
                     data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['12','12','12','12']"
                     data-fontsize="['18','18','18','16']"
                     data-lineheight="['72','72','72','38']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                </div>

                <div class="tp-caption"
                     data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                </div>
            </li>
            <!-- /End Slide 1 -->
            <!-- Slide 2 -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="~/Content/images/slider/slider-bg-1.jpg" alt="" data-bgposition="center center" data-no-retina>

                <!-- Layers -->
                <div class="tp-caption tp-resizeme text-333 font-weight-400 text-right"
                     data-x="['right','right','right','center']" data-hoffset="['33','33','33','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-115','-115','-115','-115']"
                     data-fontsize="['22','22','22','22']"
                     data-lineheight="['60','60','60','60']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                </div>

                <div class="tp-caption tp-resizeme text-333 font-weight-500 letter-spacing-10 text-right"
                     data-x="['right','right','right','center']" data-hoffset="['13','13','13','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-39','-39','-39','-59']"
                     data-fontsize="['130','130','130','60']"
                     data-lineheight="['130','130','130','60']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                </div>

                <div class="tp-caption tp-resizeme text-333 font-weight-400 text-right"
                     data-x="['right','right','right','center']" data-hoffset="['13','13','13','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','5']"
                     data-fontsize="['48','48','48','28']"
                     data-lineheight="['60','60','60','40']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                </div>

                <div class="tp-caption text-right"
                     data-x="['right','right','right','center']" data-hoffset="['105','105','105','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['138','138','138','80']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                </div>
            </li>
            <!-- /End Slide 2 -->
        </ul>
    </div>
</div>
<!-- END SLIDER -->


@if (Model.FeaturedCategories != null & Model.FeaturedCategories.Count >= 4)
{
    var firstCategory = Model.FeaturedCategories[0];
    var secondCategory = Model.FeaturedCategories[1];
    var thirdCategory = Model.FeaturedCategories[2];
    var fourthCategory = Model.FeaturedCategories[3];

    <!-- IMAGE BOX -->
    <section class="flat-row row-image-box">
        <div class="container">
            <div class="row gutter-10">
                <div class="col-sm-6 col-md-4">
                    <div class="flat-image-box style-1 data-effect div-h22 clearfix">
                        <div class="item data-effect-item">
                            <div class="inner">
                                @if (firstCategory != null)
                                {
                                    <div class="thumb">
                                        <img src="@firstCategory.ImageUrl" alt="Image">
                                        <div class="elm-btn">
                                            <a href="#" class="themesflat-button bg-white width-150">@firstCategory.Name</a>
                                        </div>
                                        <div class="overlay-effect bg-color-1"></div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-4 -->
                <div class="col-sm-6 col-md-4">
                    <div class="flat-image-box style-1 row2 data-effect clearfix">
                        <div class="item data-effect-item">
                            <div class="inner">
                                @if (secondCategory != null)
                                {
                                    <div class="thumb">
                                        <img src="@secondCategory.ImageUrl" alt="Image">
                                        <div class="elm-btn">
                                            <a href="#" class="themesflat-button bg-white width-150">@secondCategory.Name</a>
                                        </div>
                                        <div class="overlay-effect bg-color-1"></div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="item data-effect-item">
                            <div class="inner">
                                @if (thirdCategory != null)
                                {
                                    <div class="thumb">
                                        <img src="@thirdCategory.ImageUrl" alt="Image">
                                        <div class="elm-btn">
                                            <a href="#" class="themesflat-button bg-white width-150">@thirdCategory.Name</a>
                                        </div>
                                        <div class="overlay-effect bg-color-1"></div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-4 -->
                <div class="col-sm-6 col-md-4">
                    <div class="flat-image-box style-1 data-effect div-h20 clearfix">
                        <div class="item data-effect-item">
                            <div class="inner">
                                @if (fourthCategory != null)
                                {
                                    <div class="thumb">
                                        <img src="@fourthCategory.ImageUrl" alt="Image">
                                        <div class="elm-btn">
                                            <a href="#" class="themesflat-button bg-white width-150">@fourthCategory.Name</a>
                                        </div>
                                        <div class="overlay-effect bg-color-1"></div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
}
    <!-- END IMAGE BOX -->
    <!-- PRODUCT NEW -->
    <section class="flat-row row-product-new">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section margin-bottom-52">
                        <h2 class="title">
                            New Product
                        </h2>
                    </div>

                    @{Html.RenderAction("LatestProductsWidget", "Widget", new { isLatestProduct = true });}

                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- END PRODUCT NEW -->
    <!-- PRODUCT -->
    <section class="flat-row row-product-project style-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section margin-bottom-41">
                        <h2 class="title">Best Sale</h2>
                    </div>

                    @{Html.RenderAction("ProductsWidget", "Widget" );}
                </div>
            </div>
        </div>
    </section>
    <!-- END PRODUCT -->